
.container {
    border-radius: 25px;
    border: solid 1px #4169e1;
    background-color: #2d2d2d;
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
    margin-top: 3%;
    padding-left: 1%;
    font-size: 200%;
}

@media screen and (max-width: 768px) {
    .container {
      width: 90vw;
      margin-left: 5%;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-radius: 0px 25px 25px 0px;
    background-color: #0d6efd;
  }