.card {
  width: 480px !important;
  height: 240px;
  box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
  margin: 3rem auto auto auto;
  transition-duration: 0.2s;
  overflow: hidden;
  border-radius: 24px !important;
  position: relative;
}

.card:hover {
  box-shadow: 4px 5px 10px 0px rgb(0, 0, 0) !important;
  transform: scale(1.02) !important;
}

.author {
  font-size: 1rem !important;
}

.cardImg {
  height: 240px;
  object-fit: contain;
  object-position: left;
  margin: 0 !important;
  border-radius: 24px 0px 0px 24px !important;
}

.bookTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-lines: 2;
  -ms-box-orient: vertical;
  -ms-box-lines: 2;
  display: box;
  box-orient: vertical;
  box-lines: 2;
}

.borrowButtonWrapper {
  width: 40px;
  height: 40px; 
  margin: auto;
  padding: auto;
}

.upperRadius {
  border-radius: 25px 25px 0px 0px;
}

.bottomRadius {
  border-radius: 0px 0px 25px 25px;
}

.grayText {
  color: rgb(167, 167, 167);
}

.borrowButton {
  position:absolute;
  right: 13px;
  bottom: 13px;
}

.bookDetailsModalBody {
  background-color: #252525;
  overflow-y: auto;
  max-height: 600px;
}
