.card {
  width: 480px;
  height: 240px;
  box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
  margin: 3rem auto auto auto;
  transition-duration: 0.2s;
  overflow: hidden;
  position: relative;
}

.card:hover {
  box-shadow: 4px 5px 10px 0px rgb(0, 0, 0) !important;
  transform: scale(1.02) !important;
}

.cardImg {
  height: 240px;
  object-position: left;
  margin: 0 !important;
  max-width: 180px;
}

.cardImgFitContain {
  object-fit: contain;
}

.cardImgFitFill {
  object-fit: fill;
}

.bookImgWrapperCol {
  max-width: 180px;
}

.bookTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-lines: 2;
  -ms-box-orient: vertical;
  -ms-box-lines: 2;
  display: box;
  box-orient: vertical;
  box-lines: 2;
}

.author {
  composes: bookTitle;
  font-size: 1rem !important;
}

.borrowButtonWrapper {
  width: 40px;
  height: 40px; 
  margin: auto;
  padding: auto;
}

.upperRadius {
  border-radius: 25px 25px 0px 0px;
}

.bottomRadius {
  border-radius: 0px 0px 25px 25px;
}

.grayText {
  color: rgb(167, 167, 167);
}

.borrowButton {
  height: 40px;
  width: 45%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.itemButtonSection {
  position: absolute;
  right: 13px;
  bottom: 13px;
  height: 40px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.itemButtonSectionModal {
  width: 245px;
}

.bookDetailsModalBody {
  background-color: #252525;
  overflow-y: auto;
  max-height: 600px;
}
