.card {
    width: 30rem !important;
    min-width: 2rem !important;
    box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
    border-radius: 1% !important;
    padding-top: 1rem;
}

.card:hover {
    box-shadow: 4px 10px 20px 1px rgb(0, 0, 0);
    transform: scale(1.05);
}

.author {
    font-size: 1rem !important;
}

.book-thumbnail {
    height: auto;
    width: 100%;
}

.img-margin {
    margin-left: 1rem;
}
