
.emptyListContainer {
    height: 40vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    border-radius: 30px;
    margin-left: 35%;
    margin-top: 2%;
    padding: 20px;
    text-align: center;
}

.noResultsIcon {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.recommendedLink {
    color: rgb(148, 205, 255);
}

@media screen and (max-width: 768px) {
    .emptyListContainer {
        width: 90vw;
        height: 60vh;
        margin-left: 5%;
    }
  }