:root {
    color-scheme: dark;
}

.background-color{
    background-color: #373636;
}

.label-color {
    background-color: #2a2a2a !important;
}

.button-color {
    color: #4169E1;
}

.custom-border {
    border: solid 2px #4169E1 !important;
}

.full-height {
    min-height: 94vh;
    height: 100%;
    margin: auto;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border: 0px none;
}

.modal-footer {
    border: 0px none;
}

.button-radius {
    border-radius: 12px !important;
}
