:root {
    color-scheme: dark;
}

.background-color{
    background-color: #252525;
}

.label-color {
    background-color: #3b3a3a !important;
}

.button-color {
    color: #4169E1;
}

.custom-border {
    border: solid 2px #4169E1 !important;
}

.full-height {
    min-height: 94vh;
    height: 100%;
    margin: auto;
}

.button-radius {
    border-radius: 150px !important;
}
