.historyItemTextSizeSmall {
    font-size: 0.9em;
}

.twoSidesWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.historyListPanelSingle {
    width: 100%;
}

.historyListPanel {
    width: 50%;
}

@media (max-width: 985px) {
    .historyListPanel {
        width: 100%;
    }
}

.historyItemContainer {
    background-color: #3b3a3a;
    margin-top: 10px;
    border-radius: 14px;
    border-width: 1px;
    text-align: left;
    transition: height .2s ease-in-out;
    overflow: hidden;
}

.historyItemContainer:hover {
    background-color: #414040;
    cursor: pointer;
}

.historyItemRowWrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.successTint {
    border: 1px solid var(--success);
    color: var(--success);
}

.infoTint {
    border: 1px solid var(--info);
    color: var(--info);
}

.dangerTint {
    border: 1px solid var(--danger);
    color: var(--danger);
}

.primaryTint {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.pagerTabsWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pagerTabs {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid var(--primaryA50);
    border-top: 0px;
    transition: background-color .2s;
}

.pagerTabs:hover {
    background-color: #3b3a3a;
    cursor: pointer;
}

.selectedTab {
    background-color: var(--primaryA50);
}

.selectedTab:hover {
    background-color: var(--primaryA50);
    cursor: default;
}

.leftTabStyle {
    border-radius: 0px 0px 0px 24px;
}

.rightTabStyle {
    border-radius: 0px 0px 24px 0px;
}

.historyBookItemBody {
    padding: 0px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
    align-items: center;
}

.historyBookCard {
    border: none;
    border-radius: 50px;
    background-color: transparent;
}

.historyBookItemImage {
    border-radius: 0px 14px 0px 14px;
    height: 160px;
    object-position: bottom;
    margin: 0 !important;
    max-width: 180px;
}

.cardImgFitContain {
    object-fit: contain;
}

.cardImgFitFill {
    object-fit: fill;
}

.historyBookDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}

.historyBookDetailsButton {
    margin-top: 5px;
    border-radius: 14px;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 10px;
}

.emptyViewContainer {
    text-align: center;
    margin-top: 260px;
}