.carouselOuter {
  margin-top: 24px;
  width: 480px;
  display: flex;
  justify-content: center;
  transition-duration: 0.2s;
}

.bannerOuter {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition-duration: 0.2s;
}

.bannerOuter:hover {
  transform: scale(1.02);
}

.carouselOuter:hover {
  transform: scale(1.02);
}

.carouselBadge {
  box-shadow: 8px 8px 8px 0px black;
  border-radius: 20px 20px 0px 0px;
  padding-top: 15px;
  background-color: #0275d8;
  border-color: #0275d8;
  color: aliceblue;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

.carouselItem {
  background-color: #252525;
}

.badgeHeader {
  color: rgb(241, 241, 241);
}

.carouselImg {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 24px 24px;
  max-height: 431px;
}

.homePageBanner {
  background-color: #252525;
  overflow-x: scroll;
  height: 242px;
}

.row {
  display: flex;
}

.col {
  flex: 0 0 auto;
  margin-right: 1rem;
}
