.pageContainer {
  height: 1180px;
}

@media (max-width: 768px) {
  .pageContainer {
    height: 1510px;
  }
}

.carouselOuter {
  margin-top: 24px;
  width: 480px;
  display: flex;
  justify-content: center;
}

.bannerOuter {
  margin-top: 24px;
  margin-left: 5%;
  width: 90%;
  display: flex;
}

.carouselBadge {
  width: 100%;
  box-shadow: 8px 8px 8px 0px black;
  border-radius: 20px 20px 0px 0px;
  padding-top: 15px;
  color: aliceblue;
  text-align: center;
  opacity: 0.8;
  background-color: #404040;
}

.carouselItem {
  background-color: #252525;
}

.badgeHeader {
  color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.carouselImg {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 24px 24px;
  max-height: 431px;
}

.homePageBanner {
  background-color: #252525;
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
}

.row {
  display: flex;
}

.col {
  flex: 0 0 auto;
}

.fixColWidth {
  max-width: 50%;
}

.alert {
  background-color: #404040;
  margin-bottom: 0;
  color: aliceblue;
  border-radius: 0;
  border: 0px;

}

.alertHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.addBookToLibraryFab {
  display: flex;
  margin: 0;
  padding: 0.8em ;
  border-radius: 100px ;
  position: fixed;
  right: 50px;
  bottom: 30px;
  box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.5);
}

.acceptReturnFab {
  display: flex;
  margin: 0;
  padding: 0.8em ;
  border-radius: 100px ;
  position: fixed;
  left: 50px;
  bottom: 30px;
  box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 526px) {
  .addBookToLibraryFab {
    width: 150px;
  }

  .acceptReturnFab {
    width: 150px;
  }
} 

@media (max-width: 991px) {
  .fixColWidth {
    max-width: 100%;
  }
}
